{% extends 'movies/base.html' %}

{% block title %}İnceleme Düzenle{% endblock %}

{% block content %}
    <h1 class="mb-4">{{ movie.title }} için İnceleme Düzenle</h1>
    <form method="post" class="mb-3">
        {% csrf_token %}
        <div class="mb-3">
            <label for="review_text" class="form-label">İnceleme</label>
            <textarea name="review_text" id="review_text" rows="4" class="form-control">{{ review.review_text }}</textarea>
        </div>
        <div class="mb-3">
            <label for="rating" class="form-label">Puan (1-10)</label>
            <input type="number" name="rating" id="rating" min="1" max="10" class="form-control" value="{{ review.rating }}">
        </div>
        <button type="submit" class="btn btn-primary w-100">Güncelle</button>
    </form>
{% endblock %}
