{% extends 'movies/base.html' %}
{% load form_tags %}  <!-- add_class filtresini kullanmak için eklendi -->

{% block title %}Film Listesi{% endblock %}

{% block content %}
    <h1 class="mb-4">Film Listesi</h1>

    <!-- Arama ve Filtreleme Formu -->
    <form method="get" class="row g-3 mb-4">
        <div class="col-md-6">
            {{ form.query.label_tag }}
            {{ form.query|add_class:"form-control" }}
        </div>
        <div class="col-md-3">
            {{ form.genre.label_tag }}
            {{ form.genre|add_class:"form-select" }}
        </div>
        <div class="col-md-3">
            <label for="yearRange">Yıl Aralığı</label>
            <div class="input-group">
                {{ form.min_year|add_class:"form-control" }}
                <span class="input-group-text">-</span>
                {{ form.max_year|add_class:"form-control" }}
            </div>
        </div>
        <div class="col-md-3">
            {{ form.min_rating.label_tag }}
            {{ form.min_rating|add_class:"form-control" }}
        </div>
        <div class="col-md-3">
            {{ form.max_rating.label_tag }}
            {{ form.max_rating|add_class:"form-control" }}
        </div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-primary w-100 mt-4">Ara / Filtrele</button>
        </div>
    </form>

    <div class="row">
        {% for movie in movies %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'movie_detail' movie.id %}">{{ movie.title }}</a></h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ movie.genre }}</h6>
                        <p class="card-text">
                            <strong>Yayın Tarihi:</strong> {{ movie.release_date.year }} <br>
                            <strong>Ortalama Puan:</strong> {{ movie.average_rating|default:"N/A" }}
                        </p>
                        <a href="{% url 'movie_detail' movie.id %}" class="btn btn-outline-primary">Detayları Gör</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
